params {
    outdir         = 'results'
    computeEnvId   = '5ZLJNy0kSN97wfBohAeVXz'
    workspaceId    = '138659136604200'
    reads          = "$baseDir/data/ggal/ggal_gut_{1,2}.fq"
}

tower {
    enabled = true
    accessToken = System.getenv('TOWER_ACCESS_TOKEN')
}

profiles {

  standard {
    process.container = 'docker.io/nextflow/rnaseq-nf:v1.3.0'
  }
    'docker' {
    process.container = 'docker.io/nextflow/rnaseq-nf:v1.3.0'
    docker.enabled = true
  }
    'conda' {
    conda.enabled = true
    conda.channels = 'conda-forge,bioconda'
  }
}
