def sanitizeAwsLabel(input) {
    return input.replaceAll(/[^a-zA-Z0-9_\-]/, "_")     // Replace invalid characters with underscores
                .replaceAll(/[_-]{2,}/, "_")            // Replace consecutive _ or - with a single _
                .replaceAll(/^[_-]+|[_-]+$/, "")        // Remove leading and trailing _ or -
                .toLowerCase()                          // Convert to lowercase
}

process {
   resourceLabels = {[
        pipelineProcess: task.process.toString(),
        pipelineTag: sanitizeAwsLabel(task.tag.toString()),
    ]}
}
