params {
    outdir         = 'results'
    computeEnvId   = '5ZLJNy0kSN97wfBohAeVXz'
    workspaceId    = '138659136604200'
}

process {
    container     = "docker.io/library/ubuntu:23.10"
    errorStrategy = "finish"
}

tower {
    enabled = true
    accessToken = System.getenv('TOWER_ACCESS_TOKEN')
}
